    /*
    Flaticon icon font: Flaticon
    Creation date: 15/12/2020 06:32
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-group:before { content: "\f100"; }
.flaticon-social-care:before { content: "\f101"; }
.flaticon-ecological:before { content: "\f102"; }
.flaticon-donation:before { content: "\f103"; }
.flaticon-charity:before { content: "\f104"; }
.flaticon-social-care-1:before { content: "\f105"; }
.flaticon-community:before { content: "\f106"; }
.flaticon-blood-donation:before { content: "\f107"; }
.flaticon-scholarship:before { content: "\f108"; }
.flaticon-piggy-bank:before { content: "\f109"; }
.flaticon-donation-1:before { content: "\f10a"; }
.flaticon-dollar-coins:before { content: "\f10b"; }
.flaticon-solidarity:before { content: "\f10c"; }
.flaticon-charity-1:before { content: "\f10d"; }
.flaticon-phone-call:before { content: "\f10e"; }
.flaticon-chat:before { content: "\f10f"; }
.flaticon-location:before { content: "\f110"; }
    
    $font-Flaticon-group: "\f100";
    $font-Flaticon-social-care: "\f101";
    $font-Flaticon-ecological: "\f102";
    $font-Flaticon-donation: "\f103";
    $font-Flaticon-charity: "\f104";
    $font-Flaticon-social-care-1: "\f105";
    $font-Flaticon-community: "\f106";
    $font-Flaticon-blood-donation: "\f107";
    $font-Flaticon-scholarship: "\f108";
    $font-Flaticon-piggy-bank: "\f109";
    $font-Flaticon-donation-1: "\f10a";
    $font-Flaticon-dollar-coins: "\f10b";
    $font-Flaticon-solidarity: "\f10c";
    $font-Flaticon-charity-1: "\f10d";
    $font-Flaticon-phone-call: "\f10e";
    $font-Flaticon-chat: "\f10f";
    $font-Flaticon-location: "\f110";