//header

//custom-container
.custom-container {
	max-width: 1455px;
	margin: 0 auto;
	@media #{$md} {
		padding-left: 0;
		padding-right: 0;
	}
	@media #{$xs} {
		padding-left: 0;
		padding-right: 0;
	}
	@media #{$sm} {
		padding-left: 0;
		padding-right: 0;
	}
}

//header-top-area 
.header-top-area {
	&::before {
		content: '';
		position: absolute;
		clip-path: polygon(0 0%, 100% 0%, 100% 100%, 1% 100%);
		width: 1290px;
		height: 45px;
		right: 0;
		top: 0;
		background: #f4f2f1;
	}
} 


.top-cta {
	& span {
		color: $body-text-color2;
		line-height: 1;
		display: inline-block;
		& .media-link {
			color: $theme-color;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: underline;
			margin-left: 5px;
		}
	}
} 


.top-right-nav {
	& ul {
		& li {
			display: inline-block;
			margin-left: 25px;
			&:first-child {
				margin-left: 5px;
			}
			& a {
				color: $grey3;
				font-size: 15px;
				line-height: 1;
				display: inline-block;
				&:hover {
					color: $theme-color;
				}
			}
		}
	} 
} 
.main-header-area {
	& .logo-img {
		& img {
			max-width: 100%;
		}
	}
	@media #{$md} {
		padding: 25px 15px;
	}
	@media #{$xs} {
		padding: 25px 15px;
	}
	@media #{$sm} {
		padding: 25px 15px;
	}
}
.main-menu {
	@include transition(.4s);
	@media #{$lg} {
		margin: 0;
	}
	& ul {
		& li {
			display: inline-block;
			position: relative;
			margin-right: 26px;
			@media #{$laptop} {
				margin-right: 30px;
			}
			@media #{$lg} {
				margin-right: 15px;
			}
			& > a {
				color: $grey;
				font-size: 16px;
				line-height: 1;
				font-family: $karla;
				padding: 30px 0 36px 0;
				display: inline-block;
				position: relative;
				font-weight: 400;
				& i {
					font-size: 12px;
					line-height: 1;
				}
				&:hover, &.active  {
					color:$theme-color;
				}
			}
			& ul.submenu {
				background: $white  none repeat scroll 0 0;
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
				left: 0;
				opacity: 0;
				position: absolute;
				top: 119%;
				transition: all 0.3s ease 0s;
				visibility: hidden;
				width: 240px;
				z-index: 9;
				border-top: 4px solid $theme-color;
				text-align: left;
				padding: 25px 0;
				& li {
					display: block;
					& a {
						padding: 14px 30px;
						display: block;
						margin:0;
						border:0;
						color:$heding;
						&::before {
							display: none;
						}
						&:hover  {
							color:$theme-color;
						}
					}
				}
			}
			&:hover {
				& .submenu {
					top:100%;
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

 
//sticky-menu
.sticky {
	position: fixed;
	z-index: 999;
	width: 100%;
	background: $white;
	top: 0;
	animation:300ms ease-in-out 0s normal none 1 running fadeInDown;
	@include transition(.4s);
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
	& .logo {
		transform: translateY(2px);
	}
	& .hamburger-menu {
		top: 17px;
		@media #{$md} {
			top: 35px;
		}
	}
	& .main-menu {
		& ul {
			& li {
				& a {
					&:hover {
						color: $theme-color;
					}
				}
			} 
		} 
	}
}
/* Hamburger-menu */
.hamburger-menu {
	display: inline-block;
	& > a {
		display: inline-block;
		font-size: 25px;
		color:$theme-color2;
	}
}
.side-mobile-menu {
	display: none;
	@media #{$md} {
		display: block;
	}
	@media #{$xs} {
		display: block;
	}
	@media #{$sm} {
		display: block;
	}
}

.offset-sidebar {
	display: block;
	margin-top: 30px;
	@media #{$md} {
		display: none;
	}
	@media #{$xs} {
		display: none;
	}
	@media #{$sm} {
		display: none;
	}
}
//headear-area-02
.transparent-head {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
}
.main-head-02 {
	position: relative;
	@media #{$xs} {
		padding: 15px 15px;
	}
	& .custom-container-03 {
		max-width: 1505px;
		margin: 0 auto;
	}
	&.sticky {
		background: $white;
		position: fixed;
		& .logo {
			& .logo-img {
				display: none;
			}
			& .logo-img-02 {
				display: inline-block !important;
				& img {
					max-width: 100%;
				}
			}
		}
		& .main-menu-02 {
			& ul {
				li {
					& > a {
						color: $heding;
						padding: 42px 0;
						
					}
					& ul.submenu {
						& li {
							& a {
								padding:14px 30px;
							}
						}
					}
				} 
			} 
		}
	}
}
.main-menu-02 {
		& ul {
			li {
				@media #{$laptop} {
					margin-right: 35px;
				}
				@media #{$lg} {
					margin-right: 35px;
				}
				& > a {
					color: $white;
					padding: 38px 0;
				}
				& ul.submenu {
					& li {
						& a {
							&:hover {
								color: $theme-color;
							}
						}
					}
				}
			} 
		} 
	}

	.quote-btn {
		@media #{$laptop} {
			display: none;
		}
		@media #{$lg} {
			display: none;
		}
		@media #{$md} {
			display: none;
		}
		@media #{$xs} {
			display: none;
		}
	}

 
//header-03
//head-top-03
.head-top-03 {
	&::before {
		display: none;
	}
	& .top-cta {
		span {
			color: $white;
			& i {
				margin-right: 5px;
			}
			&:first-child {
				margin-right: 30px;
			}
		}
	}
	& .top-right-nav {
		& a {
			color: $white;
			font-weight: 700;
			& i {
				margin-right: 5px;
			}
			&  span {
				color:#ffd1ca;
				font-weight: 400;
			}
		}
	} 
}
.main-menu-03 {
	& ul {
		& li {
			@media #{$laptop} {
				margin-right: 30px;
			}
			& a {
				
			}
			& ul.submenu {
				& li {
					& a {
						&:hover {
							color: $theme-color;
						}
					}
				}
			}
		}
	} 
} 
//about-head
.about-head {
	& .top-cta {
		& span {
			color:$body-text-color;
			&  b {
				color: $heding;
			}
			& i {
				color: $theme-color;
			}
		}
	}
	& .top-right-nav {
		& a {
			& i {
				color: $theme-color;
			}
			color: $heding;
			font-weight: 700;
			& span {
				color: $body-text-color;
			}
		}
	} 
}
.header-social { 
		& a {
			color: $body-text-color;
			font-size: 15px;
			margin-left: 20px;
			&:hover {
				color: $theme-color;
			}
		}
	} 
 

